<html>

<head>
    <title>Socorro Gonzalez Castllo -- :) </title>
    <li href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Source+Code+Pro&display=swap"
        rel="stylesheet"></li>
</head>

<body>
    <header >


        <div class="menu">
            <p>Socorro Gonzalez </p>
            <nav>
                <ul>
                    <!-- <li>Sobre mi</li>
                    <li>Servicios</li>
                    <li>Mis trabajos </li>
                    <li>¿Por que trabajar conmigo?</li>
                    <li>Blog</li>
                    <li>Contacto</li> -->
                </ul>
            </nav>
        </div>
        <div class="titular">
            <!-- <h1>Socorro Dev</h1>
            <h2>Desarrollador FullStack</h2> -->
            <a href="https://www.google.com" target="_blank">Ver mis proyectos </a>

        </div>
    </header>

</body>

</html>