<html>

<head>
    <title>CSS </title>
</head>

<body>
    <h1>Creando Página con CSS</h1>

    <div id="container" >

        <header>
            <h1>CSS EXAMPLE</h1>
        </header>

        <nav>
            <ul>
                <li>
                    <a href="tests">Home page</a>
                </li>
                
                <li>
                    <a href="tests">File storage  </a>
                </li>
                
                <li>
                    <a href="tests">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="clearfix"></div>

        <section id="content">
            <article class="article" >
                <h2>Title for article</h2>
                <p>Text article and content</p>
        </article>
        <article class="article" >
            <h2>Title for article</h2>
            <p>Text article and content</p>
    </article>
    <article class="article" >
        <h2>Title for article</h2>
        <p>Text article and content</p>
</article>

    
    </section>

    <aside>
        <h2>Lateral Barr</h2>
        <form type="text">
            <input type="text"/>

            <input type="submit" value="Buscar" />
        </form>
    </aside>
    <div class="clearfix"></div>

<footer>
    Socorro Gonzalez 
</footer>


    </div>



</body>

</html>