<!-- 
  <ngx-doc-viewer 
  [url]="'https://go.microsoft.com/fwlink/?LinkID=521962'"
  viewer="office"
  fileType="url"
  style="height: 50%; width: 50%;"
  >
  
  </ngx-doc-viewer>
 
  <ngx-doc-viewer 
  [url]="'https://calibre-ebook.com/downloads/demos/demo.docx'"
  viewer="office"
  fileType="url"
  style="height: 50%; width: 50%;"
  >
  
  </ngx-doc-viewer>
  
  <ngx-doc-viewer 
  [url]="'/assets/BASEHC27022023.xlsx'"
  viewer="office"
  fileType="url"
  style="height: 50%; width: 50%;"
  >
  
  </ngx-doc-viewer>
  <ngx-doc-viewer 
 
  [url]="'assets/doc.pdf'"
  viewer="url"
  fileType="url"
  style="height: 50%; width: 50%;"
  >
  
</ngx-doc-viewer>  
  <ngx-doc-viewer
  [url]="'https://www.africau.edu/images/default/sample.pdf'"
    viewer="url"
  fileType="url"
  style="height: 50%; width: 50%;"
  >
  <app-home-page></app-home-page>
  </ngx-doc-viewer>   -->
 <!-- <app-second-page></app-second-page> -->
 <app-download-pdf></app-download-pdf>